#content_1

  = render 'search_tag_form'

  %h2 Les tags avec lesquels j'ai été taggé
  %ul.list
    - if @pending_tags.length == 0
      %li{:class => 'no_tag'} Aucun tag en attente
    - else 
      - @pending_tags.each do |tag_facebook|
        %li.confirm_tag
          %fb:profile-pic{:uid => tag_facebook.from_facebook_identifier, :size => "square" }
          %fb:name{:uid => tag_facebook.from_facebook_identifier, :useyou => 'false'}
          %p vous a taggé avec 
          = link_to tag_facebook.tag.name, tag_facebook.tag.wikipedia_url, :class => 'ilb'
          .ilb= button_to 'Accepter', accept_tag_facebook_path(:tag_id => tag_facebook.tag.id), :class => "uibutton confirm"
          .ilb= button_to 'Refuser', decline_tag_facebook_path(:tag_id => tag_facebook.tag.id), :class => "uibutton"
          .ilb= button_to "Retourner le tag", return_tag_facebook_path(:tag_id => tag_facebook.tag.id, :to_facebook_identifier => tag_facebook.from_facebook.identifier), :class => "uibutton"
          - render :partial => '/home/search_tag_form', :locals => {:from_facebook => tag_facebook.from_facebook.identifier}
  %h2 Les tags que j'ai validé
  %ul#validate_tag.list
    - if @validated_tags.length == 0
      %li{:class => 'no_tag'} Aucun tag validé
    - else 
      - @validated_tags.each do |tag_facebook|
        %li
          %div.img_tag{:style => "background-image: url(#{tag_facebook.tag.thumbnail})"} &nbsp;
          = link_to tag_facebook.tag.name, tag_facebook.tag.wikipedia_url
  
  %h2 Les tags que j'ai refusé
  %ul#not_validate_tag.list
    - if @rejected_tags.length == 0
      %li{:class => 'no_tag'} Aucun tag refusé
    - else 
      - @rejected_tags.each do |tag_facebook|
        %li
          %div.img_tag{:style => "background-image: url(#{tag_facebook.tag.thumbnail})"} &nbsp;
          = link_to tag_facebook.tag.name, tag_facebook.tag.wikipedia_url

#content_2
  %h2 Trouver des gens en fonction des réalisateur
  
  = form_tag home_get_infos_path, :class => 'tag_form' do 
    
    %p Tous les utilisateurs qui
  
    = label_tag 'like_true', 'ont accepté les tag'  
    = radio_button_tag('like', 'true', true, :name => 'like')
    = label_tag 'like_false', 'n\'ont pas accepté les tags'
    = radio_button_tag('like', 'false', false, :name => 'like')
    
    = label_tag 'directors', 'des films de'
    
    = select_tag 'directors', options_for_select(@directors.uniq), :name => 'directors'
    
    = submit_tag 'Chercher', { :id => 'search_directors', :class => "uibutton confirm"}
  
  %ul#results_for_people
  
  %h2 Trouver des gens en fonction des acteurs
  
  = form_tag home_get_infos_actors_path, :class => 'tag_form' do 

    = label_tag 'actors' 'Tous les utilisateurs qui ont aimé un film avec'
    
    = label_tag 'actors', 'des films avec'
    
    = select_tag 'actors', options_for_select(@actors.uniq), :multiple => true, :name => 'actors'
    
    = submit_tag 'Chercher',{ :id => 'search_actors', :class => "uibutton confirm"}
  

  #results_for_actors_people
  
  
#content_3
  
  %h2 Films que vous pourriez aimer
  #movies_you_might_like_results
  
  %h2 Amis que vous pourriez aimer
  %ul#friends_you_might_like_results

  = label_tag 'actors' '', 'Les amis d\'amis qui ont aimé un film avec'
  
  = select_tag 'actors', options_for_select(@actors.uniq), :name => 'actors'
  
  = submit_tag 'Chercher', :id => 'search_actors', :class => 'uibutton'

#results_for_actors_people
