!!!
%html{'xmlns:fb' => 'http://www.facebook.com/2008/fbml'}
  %head
    %title TagMeIfYouCan

    = javascript_include_tag "application"
    = stylesheet_link_tag    'application'

    %meta{:property => 'fb:app_id', :content => Facebook.config[:client_id]}
    = csrf_meta_tags
  %body
    #fb-root
    #notice= flash[:notice]
    %h2.title 
      %fb:profile-pic{:uid => current_user.identifier, :size => "square" }
      %div
        Bienvenue  
        %fb:name{:uid => current_user.identifier, :useyou => 'false'}
        sur Tag Me If You Can
    #menu
      %ul
        %li#un.selected Tags
        %li#deux Rechercher
        %li#trois Suggestions
    #content_wrapper
      = yield


    = javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
    :javascript
      FB.init({
        appId: "#{Facebook.config[:client_id]}",
        cookie: true,
        xfbml: true,
        oauth: true
      });
    
  #ajax_loader
    = image_tag 'ajax-loader.gif'