!!!
%html
  %head
    %title TagMeIfYouCan
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "libs/underscore"
    = csrf_meta_tags
  %body
    = yield
