!!!
%html
  %head
    %title TagMeIfYouCan
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #notice= flash[:notice]
    = yield
  #ajax_loader
    = image_tag 'ajax-loader.gif'
